<p class="browserinfo" <% if (!browser.inBcd) { %>class="error-notice"<% } %>><span class="mdi mdi-web"></span> <% if (browser.browser.name) { %>Detected Browser: <%- browser.browser.name %> <%- browser.version %> <% if (!browser.inBcd) { %>(not in BCD v<%- bcdVersion %>)<% } %><% } else {%>Could not determine browser<% } %></p>
