<!--
mdn-bcd-collector: views/error.ejs
Page to display whenever an error occurs

© Gooborg Studios
See LICENSE.txt for copyright details
-->

<%- contentFor('body') %>
<h1><%= locals.title %></h1>
<p><%= message %></p>
<a href="/">Back to Home</a>
