<%- contentFor('body') %>
<p id="download" hidden><a download id="download-url"><span class="mdi mdi-download"></span> Download <span id="download-filename"></span></a></p>
<p><button id="pr-button">Create GitHub PR</button></p>
<p id="status"></p>
<p id="pr" hidden>GitHub PR: <a id="pr-url"></a></p>
<script>
function runExport(endpoint, containerId, urlId, filenameId) {
  var status = document.getElementById('status');
  var container = document.getElementById(containerId);
  var link = document.getElementById(urlId);
  var filename = document.getElementById(filenameId);

  var client;
  if ('XMLHttpRequest' in self) {
    client = new XMLHttpRequest();
  } else if ('ActiveXObject' in self) {
    client = new ActiveXObject('Microsoft.XMLHTTP');
  }

  if (!client) {
    status.innerHTML = 'Cannot upload results: XMLHttpRequest is not supported.';
    return;
  }

  client.open('POST', endpoint, true);
  client.send('');
  status.className = '';
  client.onreadystatechange = function() {
    if (client.readyState == 4) {
      if (client.status >= 200 && client.status <= 299) {
        var response = JSON.parse(client.responseText);
        link.href = response.url;
        if (filename) {
          filename.innerHTML = response.filename;
        }
        container.removeAttribute('hidden');
      } else {
        status.innerHTML = 'Failed to export: ' + client.responseText;
        if (status.classList) {
          status.classList.add('error-notice');
        }
      }
    }
  }
}
window.onload = function() {
  runExport('/api/results/export', 'download', 'download-url', 'download-filename');
}
document.getElementById('pr-button').onclick = function() {
  runExport('/api/results/export/github', 'pr', 'pr-url', null);
}
</script>
