<!--
mdn-bcd-collector: views/export.ejs
Page to display when exporting test results

© Google LLC, Gooborg Studios
See the LICENSE file for copyright details
-->

<%- contentFor('body') %>
<p>
  Exported as <a id="download" href="<%=url%>"><%=description%></a>
</p>
