<%- contentFor('body') %>
<h1>mdn-bcd-collector</h1>
<div id="homeInfo">
  <p>Data collection service for <a href="https://github.com/mdn/browser-compat-data">@mdn/browser-compat-data</a>. This website provides automatic feature detection for Web APIs and CSS properties, to assist in obtaining data for the BCD project.</p>
  <p id="betaNotice">Note: this website is in beta; not all feature detection is accurate yet. If you find any errors, please <a href="https://github.com/foolip/mdn-bcd-collector/issues/new">file an issue</a> in the GitHub repository.</p>
</div>

<span id="forkongithub"><a href="https://github.com/foolip/mdn-bcd-collector">Fork me on GitHub</a></span>

<h2>Run Tests</h2>
<div class="paper">
  <form id="testForm" action="/api/get" method="post">
    <input type="submit" id="start" value="Run" />
    <datalist id="tests">
      <% tests.forEach(function(test) { %>
        <option value="<%- test %>"></option>
      <% }); %>
    </datalist>
    <input id="testSelection" name="testSelection" list="tests" placeholder="All Tests" size="40" />
    <br /><br />
    <div id="limitExposureBox">
      <label for="limitExposure">Limit Exposure:</label>
      <select id="limitExposure" name="limitExposure">
        <option value="">All Global Exposures</option>
        <option value="Window">Window</option>
        <option value="Worker">Dedicated Worker</option>
        <option value="SharedWorker">Shared Worker</option>
        <option value="ServiceWorker">Service Worker</option>
      </select>
    </div>
  </form>
</div>

<h2>Known Caveats</h2>
<ul>
  <li>Detection for features under alternative names is not yet supported</li>
  <li>In older browsers, some attributes aren't initialized in the API prototypes, resulting in false negatives (see <a href="https://github.com/foolip/mdn-bcd-collector/issues/406">#406</a>)</li>
  <li>Some APIs are accessed through other APIs and aren't exposed on their own; custom tests have not been written for them all</li>
</ul>

<h2>Supported Browsers</h2>
<div id="compat-table">
  <div class="compat-table-entry">
    <img src="/browser-logos/chrome.png" /><p>Chrome 1+</p>
  </div>
  <div class="compat-table-entry">
    <img src="/browser-logos/edge.png" /><p>Edge 12+</p>
  </div>
  <div class="compat-table-entry">
    <img src="/browser-logos/firefox.png" /><p>Firefox 1+</p>
  </div>
  <div class="compat-table-entry">
    <img src="/browser-logos/ie.png" /><p>Internet Explorer 5.5+</p>
  </div>
  <div class="compat-table-entry">
    <img src="/browser-logos/opera.png" /><p>Opera 9.5+</p>
  </div>
  <div class="compat-table-entry">
    <img src="/browser-logos/safari.png" /><p>Safari 3+</p>
  </div>
</div>

<script>
  function main() {
    var form = document.getElementById('testForm');
    var testSelection = document.getElementById('testSelection');
    var limitExposure = document.getElementById('limitExposure');
    var limitExposureBox = document.getElementById('limitExposureBox');

    testSelection.onchange = function() {
      if (testSelection.value == '' || testSelection.value.indexOf('api') == 0) {
        limitExposureBox.style.display = "block";
      } else {
        limitExposureBox.style.display = "none";
      }
    }
  }

  window.onload = main;
</script>
