<%- contentFor('body') %>
<h1 id="title"><img src="/favicon/favicon-96x96.png" alt=""> mdn-bcd-collector <span class="version">v<%- appVersion %></span></h1>
<p id="subtitle">Web API and CSS property feature detections to assist the <a href="https://github.com/mdn/browser-compat-data">@mdn/browser-compat-data</a> project</p>

<div id="run-tests" class="paper">
  <h2>Run Tests</h2>
  <form id="test-form" action="/api/get" method="post">
    <div id="test-entry">
      <button type="submit" id="start"><span class="mdi mdi-play"></span> Run</button>
      <datalist id="tests">
        <% tests.forEach(function(test) { %>
          <option value="<%- test %>"></option>
        <% }); %>
      </datalist>
      <input id="test-selection" name="testSelection" list="tests" placeholder="All Tests">
    </div>
    <br>
    <div id="limit-exposure-box">
      <label for="limitExposure"><span class="mdi mdi-lock"></span> Limit Exposure:</label>
      <select id="limit-exposure" name="limitExposure">
        <option value="">All Global Exposures</option>
        <option value="Window">Window</option>
        <option value="Worker">Dedicated Worker</option>
        <option value="SharedWorker">Shared Worker</option>
        <option value="ServiceWorker">Service Worker</option>
      </select>
    </div>
    <% if (selenium) { %>
      <input id="selenium" name="selenium" type="hidden" value="true">
      <input id="ignore" name="ignore" type="hidden" value="<%-ignore%>">
    <% } %>
  </form>
</div>

<div id="supported-browsers">
  <h2>Supported Browsers</h2>
  <div class="compat-table">
    <div class="compat-table-entry">
      <img src="/browser-logos/chrome.png" alt=""><p>Chrome 1+</p>
    </div>
    <div class="compat-table-entry">
      <img src="/browser-logos/edge.png" alt=""><p>Edge 12+</p>
    </div>
    <div class="compat-table-entry">
      <img src="/browser-logos/firefox.png" alt=""><p>Firefox 1+</p>
    </div>
    <div class="compat-table-separator"></div>
    <div class="compat-table-entry">
      <img src="/browser-logos/ie.png" alt=""><p>Internet Explorer 6+</p>
    </div>
    <div class="compat-table-entry">
      <img src="/browser-logos/opera.png" alt=""><p>Opera 9.5+</p>
    </div>
    <div class="compat-table-entry">
      <img src="/browser-logos/safari.png" alt=""><p>Safari 3+</p>
    </div>
  </div>
</div>

<div id="known-caveats" class="paper">
  <h2>Known Caveats</h2>
  <ul>
    <li>Detection for features under prefixes are not fully supported</li>
    <li>Detection for features under alternative names are not yet supported</li>
    <li>In older browsers, some attributes aren't initialized in the API prototypes, resulting in false negatives (see <a href="https://github.com/foolip/mdn-bcd-collector/issues/406">#406</a>)</li>
    <li>Some APIs are accessed through other APIs and aren't exposed on their own; custom tests have not been written for them all</li>
    <li>The test page uses a JSON polyfill for core functionality; tests for <code>javascript.builtins.JSON</code> should not be trusted</li>
  </ul>

  <p class="error-notice">If you find any errors in feature detection, please <a href="https://github.com/foolip/mdn-bcd-collector/issues/new"><span class="mdi mdi-alert-circle-outline"></span> file an issue</a> in the GitHub repository.</p>
</div>

<div id="privacy-notice" class="paper">
  <h2><span class="mdi mdi-alert"></span> Privacy Notice</h2>
  <p>This website is designed to test as many browser features as possible. This includes features revealing personal information, such as microphone, camera, geolocation, etc. <strong>No personal information is stored locally or transmitted to any servers.</strong></p>
  <p>We also use cookies to track your session and link the test results to your session.</p>
</div>

<script>
  function main() {
    var form = document.getElementById('test-form');
    var testSelection = document.getElementById('test-selection');
    var limitExposure = document.getElementById('limit-exposure');
    var limitExposureBox = document.getElementById('limit-exposure-box');

    testSelection.onchange = function() {
      if (testSelection.value == '' || testSelection.value.indexOf('api') == 0) {
        limitExposureBox.style.display = "block";
      } else {
        limitExposureBox.style.display = "none";
      }
    }
  }

  window.onload = main;
</script>
