<%- contentFor('body') %>
<div>
  <span id="status">Loading page...</span> <a id="link"></a>
</div>
<br />
<div>
  <a href="/api/results">Download results JSON</a>
</div>
<div>
  <a href="/">Back to start page</a>
</div>
<script>
function exportGitHub() {
  var status = document.getElementById('status');
  var link = document.getElementById('link');

  var client;
  if ('XMLHttpRequest' in self) {
    client = new XMLHttpRequest();
  } else if ('ActiveXObject' in self) {
    client = new ActiveXObject('Microsoft.XMLHTTP');
  }

  if (!client) {
    status.innerHTML = 'Cannot upload results: XMLHttpRequest is not supported.';
    return;
  }

  client.open('POST', '/api/results/export/github', true);
  client.send('');
  status.innerHTML = 'Exporting...';
  client.onreadystatechange = function() {
    if (client.readyState == 4) {
      if (client.status >= 200 && client.status <= 299) {
        status.innerHTML = 'Exported to';
        link.href = link.innerHTML = client.responseText;
      } else if (client.status == 412) {
        status.innerHTML = 'No results to export';
      } else {
        status.innerHTML = 'Failed to export: ' + client.responseText;
      }
    }
  }
}
window.onload = exportGitHub;
</script>
