<%- contentFor('body') %>
<div>
  <span id="status">Loading page...</span> <a id="link"></a>
</div>
<br />
<div>
  <a href="/api/results">Download results JSON</a>
</div>
<div>
  <a href="/">Back to start page</a>
</div>
<script src="/resources/json3.min.js"></script>
<script>
function exportGitHub() {
  var status = document.getElementById('status');
  var link = document.getElementById('link');

  var client;
  if ('XMLHttpRequest' in self) {
    client = new XMLHttpRequest();
  } else if ('ActiveXObject' in self) {
    client = new ActiveXObject('Microsoft.XMLHTTP');
  }

  if (!client) {
    status.innerHTML = 'Cannot upload results: XMLHttpRequest is not supported.';
    return;
  }

  client.open('POST', '/api/results/export/github', true);
  client.send();
  status.innerHTML = 'Exporting...';
  client.onreadystatechange = function() {
    if (client.readyState == 4) {
      var response = {};

      try {
        response = JSON.parse(client.responseText);
      } catch (e) {
        response.error = client.responseText;
      }

      if (response.error) {
        status.innerHTML = 'Failed to export: ' + response.error;
      } else {
        status.innerHTML = 'Exported to';
        link.href = link.innerHTML = response.html_url;
      }
    }
  }
}
window.onload = exportGitHub;
</script>
