<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title><%= title %></title>

    <style>
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #111;
          color: white;
        }
      }
    </style>
  </head>
  <body>
    <p id="status">Running tests...</p>
    <p id="results"></p>
    
    <!-- TODO: https://github.com/foolip/mdn-bcd-collector/issues/407 -->
    <script src="/resources/json3.min.js"></script>
    <script src="/resources/harness.js"></script>
    <script>
      <% tests.forEach(function(test) { %>
        bcd.addTest("<%- test.ident %>", <%- JSON.stringify(test.tests) %>, "<%- test.exposure %>");
      <% }); %>
      window.onload = bcd.run;
    </script>
  </body>
</html>
