<p id="unsecure-warning" class="error-notice"><span class="mdi mdi-lock-off"></span> Warning: not using HTTPS!</p>

<script>
  if (location.protocol === 'https:') {
    document.getElementById('unsecure-warning').remove();
  }
</script>
