@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&family=Montserrat:wght@500&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;

  background-color: #111;
  background: -moz-linear-gradient(30deg, rgba(17,17,17,1) 0%, rgba(3,23,6,1) 100%);
  background: -webkit-linear-gradient(30deg, rgba(17,17,17,1) 0%, rgba(3,23,6,1) 100%);
  background: linear-gradient(30deg, rgba(17,17,17,1) 0%, rgba(3,23,6,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111111",endColorstr="#031706",GradientType=1);
  color: white;

  min-height: 100vh;
}

h1, h2 {
  text-align: center;
  margin-top: 0;
}

a {
  color: #99f;
  transition: color 0.2s;
}

a:hover {
  color: #bbf;
}

code {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

button, select, input {
  background-color: #3d8a3f;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: background-color 0.2s;
  padding: 8px;
}

input {
  text-align: left;
  margin-left: -2px;
}

button:hover, select:hover {
  cursor: pointer;
  background-color: #4caf50;
}

button:disabled, button:disabled:hover, select:disabled:hover {
  cursor: not-allowed;
  background-color: #636363;
}

input::placeholder {
  color: #ccc;
}

.paper {
  padding: 12px 8px;
  background-color: #191919;
  box-shadow: 0 0 10px black;
  border-radius: 8px;
}

.error-notice {
  color: #faa;
  font-weight: bold;
}

.warning-notice {
  color: #ffa;
  font-weight: bold;
}

.success-notice {
  color: #afa;
  font-weight: bold;
}

footer {
  text-align: center;
  opacity: 0.75;
}

footer > * {
  display: inline-block;
  margin-left: 4px;
}

/* Homepage */

#title {
  color: #88f6a2;
  font-family: Montserrat;
  font-size: 36pt;
  font-weight: 500;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.1em;
}

#title img {
  width: 48px;
  height: 48px;
}

#title .version {
  font-size: 40%;
  opacity: 0.4;
}

#subtitle {
  width: 90%;
  margin: auto;
  font-size: 16pt;
  text-align: center;
}

#run-tests {
  width: intrinsic;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-top: 2em;
  padding: 2em;
  text-align: center;
}

#runTests #test-entry {
  display: block;
}

#test-selection {
  padding-left: 16px;
}

#hide-results {
  display: none;
}

#supported-browsers {
  margin-top: 2em;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.compat-table {
  margin: auto;
  text-align: center;
}

.compat-table .compat-table-entry {
  display: inline-block;
  margin-right: 16px;
}

.compat-table .compat-table-entry img {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.compat-table .compat-table-entry p {
  display: inline-block;
  margin: 0;
  margin-left: 8px;
}

.compat-table .compat-table-separator {
  display: none;
}

@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
  .compat-table .compat-table-separator {
    display: block;
  }
}

#known-caveats {
  background: rgba(255,170,170,0.05);
  text-align: center;
  list-style-position: inside;
}

/* End: Homepage */

.result p {
  margin-bottom: 0;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    background: -moz-linear-gradient(30deg, rgba(255,255,255,1) 0%, rgba(242,255,244,1) 100%);
    background: -webkit-linear-gradient(30deg, rgba(255,255,255,1) 0%, rgba(242,255,244,1) 100%);
    background: linear-gradient(30deg, rgba(255,255,255,1) 0%, rgba(242,255,244,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f2fff4",GradientType=1);
    color: black;
  }

  a {
    color: #00f;
  }

  a:hover {
    color: #44f;
  }

  .paper {
    background-color: #eee;
  }

  .error-notice {
    color: #700;
  }

  .warning-notice {
    color: #770;
  }

  .success-notice {
    color: #070;
  }

  /* Homepage */

  #title {
    color: #097923;
  }

  #known-caveats {
    background: rgba(119,0,0,0.05);
  }

  /* End: Homepage */
}
