@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@500&display=swap');

html {
  background: #111;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  color: white;
  min-height: 100vh;
  margin: 0;
  padding: 8px;

  background: #111111; /* Old browsers */
  background: -moz-linear-gradient(30deg,  #111111 0%, #031706 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#111111), color-stop(100%,#031706)); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(30deg,  #111111 0%,#031706 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(30deg,  #111111 0%,#031706 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(30deg,  #111111 0%,#031706 100%); /* IE10 preview */
  background: linear-gradient(30deg,  #111111 0%,#031706 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111111",endColorstr="#031706",GradientType=1);*/ /* IE6-9 fallback on horizontal gradient */
}

h1, h2 {
  text-align: center;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #99f;
  transition: color 0.2s;
}

a:hover {
  color: #bbf;
}

code {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

button, select, input {
  background-color: #3d8a3f;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: background-color 0.2s;
  padding: 8px;
}

input {
  text-align: left;
  margin-left: -2px;
}

button:hover, select:hover, input[type=submit]:hover {
  cursor: pointer;
  background-color: #4caf50;
}

button:disabled, button:disabled:hover,
select:disabled, select:disabled:hover,
input[type=submit]:disabled, input[type=submit]:disabled:hover {
  cursor: not-allowed;
  background-color: #636363;
}

input::placeholder {
  color: #ccc;
}

footer {
  display: block;
  text-align: center;
  opacity: 0.75;
  background-color: rgb(0,0,0,0.25);
  width: 100vw;
  margin-top: 1em;
  margin-left: -8px;
}

footer > * {
  display: inline-block;
  margin-left: 4px;
}

footer #browserinfo {
  display: block;
  margin: 0;
  padding-bottom: 1em;
}

hr {
  width: 100vw;
  margin-left: -8px;
}

.paper {
  padding: 12px 8px;
  background-color: #191919;
  box-shadow: 0 0 10px black;
  border-radius: 8px;
}

.error-notice {
  color: #faa;
}

.warning-notice {
  color: #ffa;
}

.success-notice {
  color: #afa;
}

.mdi:before {
  /* Ensure that *something* shows up on older browsers */
  content: "\FFFD";
}

/* Homepage */

#title {
  color: #88f6a2;
  font-family: Montserrat;
  font-size: 36pt;
  font-weight: 500;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.1em;
}

#title img {
  width: 48px;
  height: 48px;
}

#title .version {
  font-size: 40%;
  opacity: 0.4;
}

#subtitle {
  width: 90%;
  margin: auto;
  font-size: 16pt;
  text-align: center;
}

#run-tests {
  width: 100%;
  max-width: intrinsic;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  margin-top: 2em;
  padding: 2em;
  text-align: center;
}

#runTests #test-entry {
  display: block;
}

#test-selection {
  padding-left: 16px;
  width: 70%;
}

#supported-browsers {
  margin-top: 2em;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.compat-table {
  margin: auto;
  text-align: center;
}

.compat-table .compat-table-entry {
  display: inline-block;
  margin-right: 16px;
}

.compat-table .compat-table-entry img {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.compat-table .compat-table-entry p {
  display: inline-block;
  margin: 0;
  margin-left: 8px;
}

.compat-table .compat-table-separator {
  display: none;
}

@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
  .compat-table .compat-table-separator {
    display: block;
  }
}

#known-caveats {
  background: rgba(255,170,170,0.05);
  width: intrinsic;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: calc(100vw - 4em - 24px);
  margin: auto;
  padding: 2em;
  text-align: center;
  list-style-position: inside;
}

/* End: Homepage */

#status {
  font-weight: bold;
}

.result {
  margin-bottom: 0.5em;
}

.result .result-value {
  font-weight: bold;
}

.result-value-true {
  color: #afa;
}

.result-value-false {
  color: #faa;
}

.result .result-info {
  display: block;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.result .result-message {
  font-style: italic;
  margin-top: 0;
}

@media (prefers-color-scheme: light) {
  html {
    background: white;
  }

  body {
    color: black;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(30deg,  #ffffff 0%, #f2fff4 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffffff), color-stop(100%,#f2fff4)); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(30deg,  #ffffff 0%,#f2fff4 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(30deg,  #ffffff 0%,#f2fff4 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(30deg,  #ffffff 0%,#f2fff4 100%); /* IE10 preview */
    background: linear-gradient(30deg,  #ffffff 0%,#f2fff4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f2fff4",GradientType=1);*/ /* IE6-9 fallback on horizontal gradient */
  }

  a {
    color: #00f;
  }

  a:hover {
    color: #44f;
  }

  .paper {
    background-color: #eee;
  }

  .error-notice, .result-value-false {
    color: #700;
  }

  .warning-notice {
    color: #770;
  }

  .success-notice, .result-value-true {
    color: #070;
  }

  /* Homepage */

  #title {
    color: #097923;
  }

  #known-caveats {
    background: rgba(119,0,0,0.05);
  }

  /* End: Homepage */
}
