on:
  push:
    branches:
    - main
name: Push
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 12
    - run: npm ci
    - run: npm run lint
    - run: npm run build
    - run: npm run unittest
  deploy:
    name: Deploy
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: MontyD/package-json-updated-action@1.0.1
      id: version-updated
      with:
        path: package.json
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/checkout@v2
    - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        service_account_email: ${{ secrets.GCP_SA_EMAIL }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        project_id: mdn-bcd-collector
    - run: echo "$SECRETS_JSON" | base64 --decode > secrets.json
      env:
        SECRETS_JSON: ${{ secrets.SECRETS_JSON }}
    - name: Deploy to Staging
      run: gcloud app deploy --version=staging --no-promote
    - if: steps.version-updated.outputs.has-updated
      name: Deploy to Production
      run: |
        git checkout prod
        git merge origin/main
        git push --set-upstream origin prod
        gcloud app deploy --version=production --promote
env:
  FORCE_COLOR: 3
