on:
  push:
    branches:
    - master
name: master
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: npm install
    - run: npm run build
    - run: npm run coverage
    - run: npm run report-coverage
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  deploy:
    name: Deploy
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: echo "$SECRETS_JSON" | base64 --decode > secrets.json
      env:
        SECRETS_JSON: ${{ secrets.SECRETS_JSON }}
    - uses: actions/gcloud/auth@master
      env:
        GCLOUD_AUTH: ${{ secrets.GCLOUD_AUTH }}
    - uses: actions/gcloud/cli@master
      with:
        args: app deploy --project=mdn-bcd-collector
